body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../static/Picture1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

header{
    width: 100%;
    border: 1PX solid black;
    padding: 10px;
    background-color: rgb(128, 0, 128, 0.7);
    color: white;
    text-align: center;
    text-transform: uppercase;
    
}

.details{
    background-color: rgb(255, 255, 255, 0.7);
    width: 100%;
    padding: 10px;
}

form{
    margin: auto;
    width: 75%;
}

form legend{
    color: purple;
    font-weight: bold;
    font-size: 20px;
}

form label{
    font-size: 20px;
    font-weight: bold;
}

form option{
    font-size: 20px;
    background-color: rgb(47, 79, 79, 0.14);
}

input[type ='text'],input[type ='number'], select{
    width: 40%;
    height: 25px;
    border-radius: 5px;
}

input[type = 'submit']{
    width: 25%;
    height: 35px;
    border-radius: 5px;
    margin-left: 70%;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.results{
    font-size: 20px;
    font-weight: bold;
    /* display: none; */
    margin: 30px;
    width: 100%;
    padding-left: 60px;
}

.results p span{
    color: chocolate;
}

#score{
    display: none;
}

button{
    background-color: orangered;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}
